
.postlist_list_blog {

}
.postlist_list_blog .re {
	margin-bottom: 40px;
}
.postlist_list_blog .re .name {
	font-size: 24px;
}
.postlist_list_blog .re .name {

}
.postlist_list_blog .re .date {
	float: left;
	margin: 10px 0 0 10px;
}
.postlist_list_blog .re .text {
	padding: 10px;
}
.postlist_list_blog .re .more {
	padding: 10px;
}


