
/*-spi-*/

#lmfe_inDiv_formee11cb_offrate .prompt {
	color: gray;
	margin-left: 0px;
    font-family: tahoma;
    font-size: 16px;
    position: relative;
    top: 1px;
}
#lmfe_inDiv_formee11cb_offrate .prompt:before {
	content: "" !important;
}

