
.tket_Form {
	padding: 30px 0px;
}
.tket_Form .lmfe_tnit {
	width: 13%;
	vertical-align: top;
	padding-top: 10px;
}
#lmfe_tket_Form_user_id {
	width: 75%;
}
#lmfe_tket_Form_name {
	width: 75%;
}
#lmfe_tket_Form_text {
	width: 75%;
	height: 200px;
}