
/*admin*/

#slideshow_mg_form {
	direction:rtl;
	margin-top:30px;
}
#slideshow_mg_form input {
	margin:10px;
}
#slideshow_mg_form input#sForm_link {
	font-family: monospace;
}
#slideshow_mg_form input[type=text] {
	width:300px;
}
#slideshow_mg_form .devider {
	border-top:1px dashed #bbb;
	width:60%;
	margin-top: 20px;
	padding-top: 20px;
}

