
header {
	background-color: #eee;
	display: block;
	padding: 25px;
	position: relative;
	/* z-index: 4; */
}
header .logo {
	max-height: 48px;
	max-width: 50%;
}

header .linkify_simple {
	background-color: #beb2a9;
	margin-top: 25px;
}

header .linkify_simple .sub_w {
	background-color: #beb2a9;	
}
header .linkify_simple a {
	padding: 7px 15px;
	color: white;
	background-color: #beb2a9;
	font-size: 14px;
	transition: 0.2s all;
}

header .linkify_simple a:hover {
    background-color: #9e8c7f;
}




