
header {
	background-color: #eee;
	display: block;
	padding: 25px;
	position: relative;
	border-top-width: 4px;
	border-top-style: solid;
}
header .logo {
	max-height: 48px;
	max-width: 50%;
}

header .linkify_simple {
	margin-top: 25px;
	position: relative;
	z-index: 11;
}

header .linkify_simple a {
	padding: 7px 15px;
	font-size: 14px;
}




