
main {
	width: 1140px;
	max-width: 98%;
	margin: 25px auto;
	position: relative;
	z-index: 5;
}
main section.right ,
main section.left {
	vertical-align: top;
	display: inline-block;
	width: 300px;
	overflow: hidden;
	position: relative; z-index: 3;
}

main section.right {
	margin-left: 15px;
}
main section.left {
	margin-right: 15px;
}

main section.center {
	vertical-align: top;
	display: inline-block;
	width: 100%;
}
main section.center.have_right_sidebar {
	margin-right: -320px;
	padding-right: 320px;
}
main section.center.have_left_sidebar {
	margin-left: -320px;
	padding-left: 320px;
}
main section > * {
	margin-bottom: 18px;
}
main section > div.clear {
	margin-bottom: 0px;
}

