
.slideit .info.ef4 {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1.0);
}

.slideit .info.ef4 ,
.slideit .info.ef4 * {
	transition: 0.5s all;
}

.slideit .info.ef4 * {
	display: inline-block;
}
.slideit .info.ef4 .name {
    padding: 0px;
    background-color: rgba(0,0,0,0.4);
	font-size: 32px;
	width: 700px;
	position: absolute; right: -700px; top: 40px;
	padding: 20px 50px;
}
.slideit .info.ef4 .desc {
    padding: 0px;
    background-color: rgba(0,0,0,0.3);
	font-size: 18px;
	position: absolute; left: -700px; top: 160px;
	padding: 25px 50px;
	width: 700px;
}

.slideit .info.fired.ef4 {

}
.slideit .info.fired.ef4 .name {
	right: 60px;
}
.slideit .info.fired.ef4 .desc {
	left: 60px;
}


