
.slideit .info.ef2 ,
.slideit .info.ef2 * {
	transition: 0.5s all;
}

.slideit .info.ef2 {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1.0);
    margin: 0 0px 0 0px;
    top: -400px;
    /* transform: rotate(2deg); */
}
.slideit .info.ef2 .name {
	padding: 20px 40px;
    background-color: rgba(0,0,0,0.5);
	font-size: 24px;
	display: block;
	position: absolute; right: -400px; top: 50px;
	width: 400px;
	height: 300px;
}
.slideit .info.ef2 .desc {
    padding: 20px 40px;
    background-color: rgba(0,0,0,0.5);
	font-size: 18px;
	display: block;
	position: absolute; left: -400px; top: 50px;
	width: 400px;
	height: 300px;
	overflow: hidden;
	vertical-align: bottom;
}

.slideit .info.fired.ef2 {

}
.slideit .info.fired.ef2 .name {
	right: 0px;
}
.slideit .info.fired.ef2 .desc {
	left: 0px;
}


