
.slideit .info.ef1 ,
.slideit .info.ef1 * {
	transition: 0.5s all;
}

.slideit .info.ef1 {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1.0);
    margin: 0 0px 0 0px;
    top: -480px;
}
.slideit .info.ef1 .name {
    padding: 0px;
    background-color: rgba(0,0,0,0.6);
	font-size: 24px;
	display: block;
	position: relative;
	padding: 0 20px;
}
.slideit .info.ef1 .desc {
    padding: 0px;
    background-color: rgba(0,0,0,0.3);
	font-size: 18px;
	position: relative;
	display: block;
	padding: 0 40px;
}

.slideit .info.fired.ef1 {
	top: -400px;
}
.slideit .info.fired.ef1 .name {
	padding: 30px 40px;
}
.slideit .info.fired.ef1 .desc {
	padding: 20px 40px;
}


