
.mg_transfer_mg_form {
	margin: 40px 3% 80px 3%;
}

.mg_transfer_mg_form .lmfe_inDiv {
	width: 48%;
	display: inline-block;
}

.mg_transfer_mg_form .lmfe_inDiv.textarea {
	width: 100%;
}

#lmfe_inDiv_formea4b0b_name {
	width: 100%;
}
.mg_transfer_mg_form .mce-tinymce {
	width: calc( 100% - 200px );
	display: inline-block;
}

.mg_transfer_mg_form .lmfe_isNumber {
	padding: 10px !important;
	position: relative; top: 1px;
}

.mg_transfer_mg_form .priceList .numeric {
	padding-left: 40px !important;
	width: 115px !important;
	font: normal 14px monospace,sans-serif;
}

.mg_transfer_mg_form .priceList .lmfe_inDiv.number .money_unit {
	margin-right: -35px;
    display: inline-block;
    position: relative;
    z-index: 0;
    color: #aaa;
    font-size: 12px;
}

.mg_transfer_mg_form input[type="text"] {
	width: calc( 100% - 150px );
}

.mg_transfer_mg_form input[name="name"] {
	width: calc( 95% - 200px );
}

.mg_transfer_mg_form .lmfe_inDiv.lmfe_more_c.file {
	width: 100%;
}


