
.mg_billboard_w {
	width: calc( 100vw - 10px );
	overflow-y: hidden;
    margin-top: -130px;
    transition: all 1.5s;
    transition-delay: 0.5s;
    overflow: hidden;
}

.mg_billboard_w .rotated {
	position: relative; z-index: 11;
	/* transform: rotate(3deg); */
    width: 101%;
    margin-right: -0.5%;
}
.mg_billboard {
	position: relative; z-index: 11;
	box-shadow: 0 0 30px rgba(0,0,0,0.8);
    margin-top: 30px;
}
.mg_billboard .inner {
	position: relative;
	padding: 40px 0px;
	height: 117px !important;
}
.mg_billboard .inner .main_title {
	font-size: 22px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0,0,0,0.9);
    vertical-align: top;
    padding: 0 50px;
    position: relative; right: -600px;
    transition: 0.5s all;
}
.mg_billboard .inner .img_w {
	text-decoration: none;
	position: absolute; left: -550px; top: 0px;
    padding-right: 150px;
	/* background-color: black; */
	display: inline-block;
	transform: rotate(0deg);
    transition-delay: 0.5s;
	transition: 1s all;
	/* transition: 2s transform; */
}
.mg_billboard .inner .img_w img {
	height: 117px;
	transform: rotate(-0deg);
    transition-delay: 0.5s;
	transition: 1.4s all;
}

.mg_billboard_fleshdown {
	transform: rotate(45deg);
	width: 80px;
	height: 80px;
	padding: 8px;
	display: block;
	position: relative;
	top: -90px;
	margin: auto;
    transition-delay: 0.5s;
    transition: all 1.5s;
}

.mg_billboard_footer {
	width: 1140px;
	margin: auto;
	padding: 20px;
	opacity: 0.1;
}


.mg_billboard_w.fired {
	margin-top: -90px;
}

.mg_billboard_w.fired .mg_billboard_fleshdown {
	top: -40px;
}
.mg_billboard_w.fired .mg_billboard .inner .img_w {
	top: -5px;
	left: 10px;
	transform: rotate(5deg);
	/* position: relative; */
}
.mg_billboard_w.fired .mg_billboard .inner .img_div {
	position: relative;
	background-color: red;
	display: inline-block;
	width: 400px;
}
.mg_billboard_w.fired .mg_billboard .inner .img_w img {
	width: 366px;
	height: 147px;
	position: absolute; top: 0px; 
	box-shadow: 0 0 50px rgba(0, 0, 0, .5);
	border: 1px solid rgba(255,255,255,.5);
}
.mg_billboard_w.fired .mg_billboard .inner .img_w img.r1 {
	right: -120px;
	transform: rotate(-4deg);
}
.mg_billboard_w.fired .mg_billboard .inner .img_w img.r2 {
	right: 0px;	
	transform: rotate(-12deg);
}
.mg_billboard_w.fired .mg_billboard .inner .main_title {
	right: 0px;
}

.mg_billboard_w.fired .mg_billboard .inner .img_w:hover img {
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.mg_billboard_w.fired .mg_billboard .inner .img_w:hover img.r1 {
	transform: rotate(-13deg);
	top: -22px;
}
.mg_billboard_w.fired .mg_billboard .inner .img_w:hover img.r2 {
	transform: rotate(-25deg);
    top: 20px;
    /* left: -30px; */
}


