.news{
    direction: rtl;
}
.news select{
    margin-bottom: 15px;
    margin-right: 10px;
}
.component-content{
    background-color: #333;
    color: #fff;
    direction:rtl;
    margin-top: 10px;
    height: 390px;
    position: relative;
    top: 0;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

}
.component-content:hover{  
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}
.tile-link{
    width: 100%;
    height: 100%;
}
.component-content a{
    color: #fff;
}
.component-content p{
    color: #878787;
    text-shadow: 0 -1px 0 #292929;
    font-size: 22px;
    line-height: 1.16667;
    font-weight: 300;
    letter-spacing: 0em;
    margin: 29px 0 0;
    word-wrap: break-word;
    max-height: 220px;
    overflow: hidden;
}
.tile-content-text {
    padding: 46px 40px 0;
    display: inline-block;
    vertical-align: top;
    background-color:#222;
    height: 390px;
    width: 250px;
    overflow-y: auto;
    box-sizing: border-box;
}
.category-eyebrow__cat{
    display: block;
    color: #10C1E1;
    border-color: #10C1E1;
    font-size: 14px;
}
.category-eyebrow__date{
    font-size: 14px;
    
}
.tile-content-img{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    direction: ltr;
    width: 73%;
}

.tile-content-img img{
    height: 390px;
    width: 100%;
}
.top-tile{
    height: 80%;
}
.social2 {
    height: 18%;
    position: absolute;
    bottom: 0px;
    width: 200px;
    padding-right: 30px;
    transition: all 1s;
}

/*---------------------- noimg  ---------------------------*/

.noimg{
    width: 100%; 
    background-color: #222;
    margin-top: 10px;
    position: relative;
    top: 0;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

}
.noimg:hover{  
   box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
   top: -5px;
}
.noimg .right{
    display:inline-block;
    vertical-align: top;
    width: 70%;
    box-sizing: border-box;
    padding: 40px 40px;
    color: #fff;
    font-size: 22px;
}
.noimg .left{
    display: inline-block;
    vertical-align: top;
    width: 28%;
    box-sizing: border-box;
    padding:30px 40px 70px 40px;
    overflow: hidden;

}
.noimg .category-eyebrow__date{
    color: #fff;
}
.noimg p{
    color: #878787;
    text-shadow: 0 -1px 0 #292929;
}
.social3 {
    height: 20%;
    position: absolute;
    bottom: 40px;
    width: 200px;
    padding-right: 30px;
    transition: all 1s;
}
.social3 a{
    color: #fff;
}

/*--------------------------- twonews----------------------*/

.twonews{
    width: 49.5%; 
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #222;
    margin-top: 10px;
    position: relative;
    top: 0;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.twonews:hover{

    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}
.twonews .right{
    display:inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
}
.twonews .left{
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 390px;
    box-sizing: border-box;
    padding:30px 40px 60px 40px;
    overflow: hidden;

}
.twonews p{
    color: #878787;
    text-shadow: 0 -1px 0 #292929;
    font-size: 22px;
    line-height: 1.16667;
    font-weight: 300;
    letter-spacing: 0em;
    margin: 29px 0 0;
    word-wrap: break-word;
    max-height: 220px;
    overflow: hidden;

}
.twonews .category-eyebrow__date{
    color: #fff;
}
.social2 a{
    color: #fff;

}
.tile-content-2img{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    direction: ltr;
    width: 48.55%;
}

.tile-content-2img img{
    height: 390px;
    width: 238px;
}

/*-----------------------twonews-noimg--------------------*/

.twonews-noimg{
    width: 49.5%; 
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #222;
    margin-top: 10px;
    position: relative;
    top: 0;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.twonews-noimg:hover{
  
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}

.twonews-noimg .left{
    display: inline-block;
    vertical-align: top;
    width: 90%;
    height: 390px;
    box-sizing: border-box;
    padding:30px 40px 60px 40px;

}
.twonews-noimg p{
    color: #878787;
    text-shadow: 0 -1px 0 #292929;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 300;
    letter-spacing: 0em;
    margin: 29px 0 0;
    word-wrap: break-word;
    max-height: 220px;
    overflow: hidden;

}
.twonews-noimg .category-eyebrow__date{
    color: #fff;
}
