
.transferorder_user_list table {
	border-spacing: 0px;
}

.transferorder_user_list td {
	text-align: center;
}
.transferorder_user_list td:nth-child(1) {
	text-align: left;
}
/* .transferorder_user_list .listmaker_list_record.pointer:hover {
	background-color: #fff3f3 !important;
} */
.transferorder_user_list .listmaker_list_record:nth-child(2n) {
	background-color: #f1f1f1;
}
.transferorder_user_list .listmaker_list_record:nth-child(2n+1) {
	background-color: #f8f8f8;
}
.transferorder_user_list .listmaker_list_head th ,
.transferorder_user_list .listmaker_list_record td {
	border-radius: 0;
	box-shadow: 0 0 0 #000;
	padding: 8px 5px;
}
.transferorder_user_list .listmaker_list_head th {
	background-color: #eee;
}
.transferorder_user_list .listmaker_list_head_footer {
	display: none;
}

.transferorder_user_list td .text .code  {
	color: #a75555;
}
.transferorder_user_list td .text a.name {
	color: #337ab7;
}
.transferorder_user_list td .text a.name:hover {
	color: #900;
}
.transferorder_user_list td .text .position {
	color: #999;
}
.transferorder_user_list td .text .position .location {
	color: #555;
}
.transferorder_user_list td .text .position .leader {
	color: #555;

}





